<mat-drawer-container style="height: 100vh;" class="example-container">

    <mat-drawer mode="side" opened   >

        <div class="header">
            Menu
        </div>

        <div class="cont_aside">
            <button mat-raised-button routerLink="/add" class="boton_material" ><i class="material-icons icon">add</i> <span class="btn_txt" >Agregar producto</span> </button>
            <button mat-raised-button routerLink="" class="boton_material"  >  <i class="material-icons icon">format_list_bulleted</i> <span class="btn_txt" >Lista de productos</span></button>
            
            <button routerLink="/add" class="btn btn-sm boton_bootswatch" style="background-color: rgb(255, 255, 255);" ><i class="material-icons ">add</i></button>
            <button routerLink="" class="btn btn-sm boton_bootswatch" style="background-color: rgb(255, 255, 255);" ><i class="material-icons ">format_list_bulleted</i></button>
        </div>
    </mat-drawer>

    <mat-drawer-content  >
        <app-header></app-header>

        <div class="cont-pag" >

            <router-outlet ></router-outlet>
        </div>

    </mat-drawer-content>

</mat-drawer-container>
